version: "3.9"
services:

  app:
    build: .
    environment:
      MY_ADDRESS:                   :8080
      VAULT_ADDRESS:                http://vault-server:8200
      VAULT_APPROLE_ROLE_ID:        demo-web-app
      VAULT_APPROLE_SECRET_ID_FILE: /tmp/secret
      VAULT_DATABASE_CREDS_PATH:    database/creds/dev-readonly
      VAULT_API_KEY_PATH:           kv-v2/data/api-key
      DATABASE_HOSTNAME:            database
      DATABASE_PORT:                5432
      DATABASE_NAME:                postgres
      DATABASE_TIMEOUT:             10s
      SECURE_SERVICE_ADDRESS:       http://secure-service/api
    volumes:
      - type:   volume
        source: trusted-orchestrator-volume
        target: /tmp
    ports:
      - "8080:8080"
    depends_on:
      vault-server:
        condition: service_healthy
      trusted-orchestrator:
        condition: service_healthy
      database:
        condition: service_healthy
      secure-service:
        condition: service_healthy

  vault-server:
    build: ./setup/vault-server/
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: root
      APPROLE_ROLE_ID:         demo-web-app
      ORCHESTRATOR_TOKEN:      insecure_token
      DATABASE_HOSTNAME:       database
      DATABASE_PORT:           5432
    ports:
      - "8200:8200"
    depends_on:
      database:
        condition: service_started

  trusted-orchestrator:
    build: ./setup/trusted-orchestrator
    environment:
      VAULT_ADDRESS:      http://vault-server:8200
      ORCHESTRATOR_TOKEN: insecure_token
    volumes:
      - type:   volume
        source: trusted-orchestrator-volume
        target: /tmp
    depends_on:
      vault-server:
        condition: service_healthy

  database:
    image: postgres:14.0
    environment:
      POSTGRES_PASSWORD: rootpassword
    volumes:
      - type:   bind
        source: ./setup/database/
        target: /docker-entrypoint-initdb.d/
    ports:
      - "5432:5432"
    healthcheck:
      test:         [ "CMD", "/usr/bin/pg_isready" ]
      start_period: 1s
      interval:     1s
      timeout:      1s
      retries:      30

  # secure-service is a simulated 3rd party service that requires a specific header to get a 200 response
  secure-service:
    image: nginx:latest
    environment:
      EXPECTED_API_KEY: my-secret-key # sets the expected value for incoming requests' header X-API-KEY
    volumes:
      - type:   bind
        source: ./setup/secure-service/default.conf.template
        target: /etc/nginx/templates/default.conf.template
    ports:
      - "1717:80"
    healthcheck:
      test:         curl --fail -s http://localhost/healthcheck || exit 1
      start_period: 1s
      interval:     1s
      timeout:      1s
      retries:      30

volumes:
  trusted-orchestrator-volume:
